@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--DarkGray: hsl(0, 0%, 55%);
--VeryDarkGray: hsl(0, 0%, 41%);

--fw-Alata: 400;
--fw-Josefin: 300;
}


* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	/*background: #fff;
	color: #000;*/
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */


*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

	
body {
	width: 100vw;
	max-width: 100%;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	font-family: 'Alata', sans-serif;    /*paragraphs*/
	font-weight: var(--fw-Alata)
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */

	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

} 

	/* sets hyphenation by default on paragraphs */
h1, h2, h3, h4 ,h5 ,h6{
font-family: 'Josefin Sans', sans-serif;  /*heading*/
font-weight: var(--fw-Josefin);
 	text-transform: uppercase;

}
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterix */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}

/* sets superscript and subscript text so that it doesn't throw off leading for elements in which they are included */

/*/////////////////////////////end reset////////////////////*/



 /*//////////////////START HEADER/////////////////*/

header{
	background-image: url(images/mobile/image-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2.5em 1.5em;
	position: relative;

}

.header-sub-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo{
	width: 145px;
  z-index: 2;

}

/*///dropdown menu*/
.ham{
  z-index: 2;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown-content {
	display: none;
  position: absolute;
  background-color: var(--Black);
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 14em;
  padding-left: 1.5em;
  z-index: 1;
}

.dropdown-content a {
	font-family: 'Josefin Sans', sans-serif;  /*heading*/
	font-weight: var(--fw-Josefin);
	text-transform: uppercase;
	color: var(--White);
	padding: 12px;
	text-decoration: none;
	display: block;
	transition-delay: 0.3s;
	position: relative;
}

header h1{
	font-size: 2.5rem;
 	color: var(--White);
 	border: 2px solid var(--White);
 	padding:0.6em 0.6em 0.4em;
 	margin:4em 0;
 	line-height: 0.95em;
 }

 /*//////////////////END HEADER/////////////////*/



 /*//////////////////SECTION-1 START/////////////////*/

 .section-1{
 	display: flex;
 	flex-direction: column;
 	margin:6em 1.5em;
 	text-align: center;
 }

.section1-description{
	width: 330px;
	margin: auto;
}
 .section1-description h1{
 	font-size: 2rem;
 	padding: 1em 0 0.7em;
 }

 .section1-description p{
 	color: var(--DarkGray);
	line-height: 1.7;
    padding: 0 1.5em; 
}


 /*//////////////////SECTION-1 END/////////////////*/



 /*//////////////////SECTION-2 START/////////////////*/


.section-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 1em 4em 1em;
}
.section-2 h1{
	font-size: 2rem;
	margin-bottom: 1.5em;
}
/*///////image-grid/////*/
.image-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}
.grid-unit{
	position: relative;
}
.grid-unit img{
	transition: 0.3s
}
.hoverspan{
	font-family: 'Josefin Sans', sans-serif;  /*heading*/
	font-weight: var(--fw-Josefin);
 	text-transform: uppercase;
	font-size: 1.25rem;
	position: absolute;
	bottom: 18px;
    left: 18px;
    color: white;
    transition: 0.3s;
}
.grid-unit:hover .grid-unit-img{
	opacity: 0.3;
	cursor: pointer;
}
.grid-unit:hover .hoverspan{
	cursor: pointer;
	color: var(--Black);

}
.seeAll-btn{
	text-transform: uppercase;
	letter-spacing: 4px;
	padding:0.65em 3em;
	background-color: var(--White);
	border: 2px solid var(--VeryDarkGray);
	line-height: initial;
	margin: 2em 0;
	transition: 0.3s;
}
.seeAll-btn:hover{
	cursor: pointer;
	background-color: var(--Black);
	color:var(--White);
	border-color: var(--Black);
}


/*///////////FOOTER////////////////*/


footer{
	background-color: var(--Black);
	color: var(--White);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4em 0;
	text-align: center;
}

.footer-logo{
	width: 145px;
	margin-bottom: 1em;
}

.footer-menu a{
	text-decoration: none;
	color: var(--White);
	display: block;
	padding: 12px 0;
	position: relative;
}


.footer-menu a:hover:before {
	  content : "";
	  position: absolute;
	  left    : 30%;
	  bottom  : 0;
	  height  : 1px;
	  width   : 40%;  
	  border-bottom: 1px solid var(--White);

}

.social-icons{
	display: flex;
	padding: 2.5em 0 1.5em 0;
	align-items: center;
	justify-content: space-evenly;
}

.social-icons a{
	padding:0 0.5em;
	position: relative;
	padding-bottom: 12px;
}
.social-icons a:hover:before {
	  content : "";
	  position: absolute;
	  left    : 30%;
	  bottom  : 0;
	  height  : 1px;
	  width   : 40%;  /* or 100px */
	  border-bottom: 1px solid var(--White);

}

footer span{
	color: var(--DarkGray);
	margin-bottom: 1em;
}

/*//////////////////////////////////////////*/

@media (min-width: 560px){
	.image-grid{
	grid-template-columns:1fr 1fr;
}
.section1-description{
	width: 470px;
}
}


/*//////////////////////////////////////////*/

@media (min-width: 760px){
	header{
		background-image: url(images/desktop/image-hero.jpg);
		background-size: cover;
		padding: 4em 7em; 
	}
	
	.ham{
		display: none;
	}
	.dropdown-content{
		display: flex;
		justify-content: flex-end;
		position: static;
		background-color: transparent;
		padding: 0;
		text-transform: none;
	}
	.dropdown-content a{
		text-transform: none;
		font-family: 'Alata', sans-serif;
	}
	
	.dropdown-content a:hover:before{
	  content : "";
	  position: absolute;
	  left    : 30%;
	  bottom  : 0;
	  height  : 1px;
	  width   : 40%;  /* or 100px */
	  border-bottom: 1px solid var(--White);

	}

	.section1-description{
		width: 560px;
		margin: 2em auto;
	}

	.section-2{
		margin: 4em 7em;
		position: relative;
	}
	.section-2 h1{
		align-self: start;
	}
	.seeAll-btn{
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;

	}
	.image-grid{
	grid-template-columns:repeat(4,1fr);
	}
	footer{
		flex-direction: row;
		justify-content: space-between;
		padding-left:7em;
		padding-right: 7em; 
		text-align: left;
	}
	.footer-small-sec{
		width: 50%;
	}
	.social-icons{
		padding-top: 0;
		justify-content: flex-end;
	}
	.footer-menu{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

}


/*//////////////////////////////////////////*/




@media(min-width: 960px){
	header h1{
		margin-right: 45%;
	}
	.footer-small-sec{
		width: 43%;
	}
}


/*//////////////////////////////////////////*/



@media (min-width: 1200px){
	header{
		padding: 4em 10em;
	}
	header h1{
		margin:10% 45% 10% 0;
		font-size: 3.5rem;
		line-height: 1.2;
	}
	.section-2 h1, .section1-description h1{
		font-size: 2.5rem;
	}
	.section-1{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin: 9em 10em;
	}

	.section1-description{
		background-color: var(--White);
		width:50%;
		padding: 4em 0 0 5em;
		height: 62%;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		text-align: left;
	}
	.section1-description p{
		padding: 0;
	}
	.section-2{
		margin: 4em 10em;
	}
	footer{
		padding-right: 10em;
		padding-left: 10em;
	}
	.footer-small-sec{
		width: 35%;
	}

}